<section style="background-color: #857474;" id="footer-bar">
    <div class="row">
        <div class="span3">
            <h4>Điều Hướng</h4>
            <ul class="nav">
                <li><a href="./index.php">Trang chủ</a></li>  						
                <li><a href="./cart.php">Giỏ hàng</a></li>
                <li><a href="./contact.php">Liên hệ</a></li>
                <li><a href="./register.php">Đăng nhập</a></li>							
            </ul>					
        </div>
        <div class="span4">
            <h4>My Account</h4>
            <ul class="nav">
                <li><a href="customer.php">Tài khoản của tôi</a></li>

                <li><a href="products.php">Danh sách sản phẩm</a></li>
                
                <!-- <li><a href="#">Làm mới</a></li> -->
            </ul>
        </div>
        <div class="span5">
            <p class="logo"><!-- <img src="/themes/images/logo.png" class="site_logo" alt=""> --><h4>Htrees</h4></p>
            <p style="color: white;">Website chúng tôi chuyên cung cấp các sản phẩm chất lượng có uy tín và mới nhất trên thị trường hiện nay
                <br/>Hãy ghé thăm trang web của chúng tôi và đừng bỏ lỡ các sản phẩm mới nhé!</p>
                <div style="margin-left: 60px;">
                    <a href="#" class="button">
                        <i class="fab fa-facebook-f fa-lg"></i>
                    </a>
                    <a href="#" class="button">
                        <i class="fab fa-twitter fa-lg"></i>
                    </a>
                    <a href="#" class="button">
                        <i class="fab fa-instagram fa-lg"></i>
                    </a>
                </div>
                
            </div>					
        </div>	
    </section>
    <section id="copyright">
        <span>Copyright 2021 Cây cảnh Thừa Huy</span>
    </section>
</div>
<script src="/themes/js/common.js"></script>
<script src="/themes/js/jquery.flexslider-min.js"></script>
<script type="text/javascript">
$(function() {
    $(document).ready(function() {
        $('.flexslider').flexslider({
            animation: "fade",
            slideshowSpeed: 4000,
            animationSpeed: 600,
            controlNav: false,
            directionNav: true,
            controlsContainer: ".flex-container" // the container that holds the flexslider
        });
    });
});

</script>	

</body>
</html>