<div class="row feature_box">						
    <div class="span4">
        <div class="service">
            <div class="responsive">	
                <img src="themes/images/feature_img_2.png" alt="" />
                <h4>SẢN PHẨM <strong>HIỆN ĐẠI</strong></h4>
                <p>Các sản phẩm được thiết kế theo mẫu mã hiện đại, thời thượng phù hợp với xu hướng người dùng hiện nay.</p>
            </div>
        </div>
    </div>
    <div class="span4">	
        <div class="service">
            <div class="customize">			
                <img src="themes/images/feature_img_1.png" alt="" />
                <h4>GIAO HÀNG <strong>MIỄN PHÍ</strong></h4>
                <p>Sản phầm được giao hàng nhanh, gọn bằng nhiều hình thức nhằm đáp ứng tốt yêu cầu của khách hàng.</p>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="service">
            <div class="support">	
                <img src="themes/images/feature_img_3.png" alt="" />
                <h4>PHỤC VỤ <strong>24/7</strong></h4>
                <p>Khách hàng luôn là ưu tiên hàng đầu và được phục vụ 24/7.</p>
            </div>
        </div>
    </div>
</div>


</body>
<script src="themes/js/common.js"></script>
<script src="themes/js/jquery.flexslider-min.js"></script>
<script type="text/javascript">
$(function() {
    $(document).ready(function() {
        $('.flexslider').flexslider({
            animation: "fade",
            slideshowSpeed: 4000,
            animationSpeed: 600,
            controlNav: false,
            directionNav: true,
            controlsContainer: ".flex-container" // the container that holds the flexslider
        });
    });
});
</script>
</body>
</html>
</html>