<!DOCTYPE html>
<html lang="vi">
	<head>
		<meta charset="utf-8">

		<title>Cây Cảnh!</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">      
		<link href="/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/themes/css/font-awesome.min.css">
	<!-- <link rel="stylesheet" type="text/css" href="/themes/css/font-awesome.min2.css"> -->
	<link rel="stylesheet" type="text/css" href="/themes/css/font-awesome.min3.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
		<link href="/themes/css/bootstrappage.css" rel="stylesheet"/>
		
		<!-- global styles -->
		<link href="/themes/css/flexslider.css" rel="stylesheet"/>
		<link href="/themes/css/main.css" rel="stylesheet"/>

		<!-- scripts -->
		<script src="/themes/js/jquery-1.7.2.min.js"></script>
		<script src="/bootstrap/js/bootstrap.min.js"></script>				
		<script src="/themes/js/superfish.js"></script>	
		<script src="/themes/js/jquery.scrolltotop.js"></script>
	</head>
    <body>		
		<div id="top-bar" class="container">
			<div class="row">
				<div class="span4">
					<form action="/search" method="get" class="search_form">
						<div class="input-group">
							<input type="text" name="key" class="search-query form-control input-group" Placeholder="My Trees.">
							<span class="input-group-btn">
								<input span type="submit" name="btn-search" id="btn-search" class="btn btn-primary rounded-circle btnpro" value="Search" >
								
								
								</span></span>
							</span>
							
						</div>
					</form>
				</div>
				<div class="span8">
					<div class="account pull-right">
						<ul class="user-menu">		
							<% if (typeof username ==='undefined') { %> 
								<li><a href="/user">Đăng nhập </a></li>	
							<%  } else { %> 
							<li><a href="/user"><%= username %> </a></li>
							<li><a href="/showcart"> Giỏ hàng </a></li>
							<li><a href="checkout.php"> Thanh toán </a></li>	
							<% 	} %> 				
								
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="wrapper" class="container">
			<section class="navbar main-menu">
				<div class="navbar-inner main-menu">				
					<a href="/" class="logo pull-left"><h4 class="title">Htrees</h4></a>
					<nav id="menu" class="pull-right">
						<ul>
							   
							
							
							
							<li><a href="/products">Danh Sách Cây</a></li>		
							
																						
	
							<li><a href="contact.ejs">Liên Hệ</a></li>				
								
						</ul>
					</nav>
				</div>
			</section>
		<section  class="homepage-slider" id="home-slider">
		<div class="flexslider">
			<ul class="slides">
				<li>
					<img src="/themes/images/carousel/ab1.jpg" width="300px" height="1200px" alt="anh bia 1" />
					<div class="intro">
					</div>
				</li>
				<li>
					<img src="/themes/images/carousel/ab2.jpg" alt="anh bia 2" />
					
				</li>
				<li>
					<img src="/themes/images/carousel/ab3.jpg" alt="anh bia 3" />
					
				</li>
				<li>
					<img src="/themes/images/carousel/ab4.jpg" alt="anh bia 4" />
					
				</li>
				<li>
					<img src="/themes/images/carousel/ab5.jpg" alt="anh bia 5" />
					
				</li>
			</ul>
		</div>			
		</section>
		<section class="header_text">
			Website chúng tôi chuyên cung cấp các sản phẩm chất lượng có uy tín và mới nhất trên thị trường hiện nay
			<br/>Hãy ghé thăm trang web của chúng tôi và đừng bỏ lỡ các sản phẩm mới nhé!
		</section>