
<% if ( typeof username === 'undefined') { %>
	 
    <%- include("partials/header"); %>
<% } else { %>
	<%- include("partials/header",{username: username}); %>
	<% } %>

			<section class="main-content">
				<div class="row">
					<div class="span12">													
						<br/>
						<div class="row">
							<div class="span12">
								<h4 class="title">
									
									<span class="pull-left"><span class="text"><span class="line"><a href="#"><strong>Các sản phẩm gần đây nhất</strong></a></span></span>
									</span>
									
									<span class="pull-right">
										<a class="left button" href="#myCarousel-2" data-slide="prev"></a><a class="right button" href="#myCarousel-2" data-slide="next"></a>
									</span>
								</h4>
								<div id="myCarousel-2" class="myCarousel carousel slide">
									<div class="carousel-inner">
										<div class="active item">
											<ul class="thumbnails">												
												<li class="span3">
													<div class="product-box">
														<p><a href="/product_detail/6259a5adc3168c010304f66f"><img src="themes/images/cloth/caydeban/a1.jpg" alt="" /></a></p>
														<a href="/product_detail/6259a5adc3168c010304f66f" class="title">Cây Trầu Bà Lá Lỗ</a><br/>
														<a href="/product_detail/6259a5adc3168c010304f66f" class="category"><p class="price">139.000đ</p>
															</div></a>
															
													
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="/product_detail/15"><img src="themes/images/cloth/caysenda/a1.jpg" alt="" /></a></p>
														<a href="/product_detail/15" class="title">Combo 20 Cây Sen Đá</a><br/>
														<a href="/product_detail/15" class="category"><p class="price">299.000đ</p>
															</div></a>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="/product_detail/29"><img src="themes/images/cloth/caythuysinh/a1.jpg" alt="" /></a></p>
														<a href="/product_detail/29" class="title">Cỏ Đồng Tiền</a><br/>
														<a href="/product_detail/29" class="category"><p class="price">99.000đ</p>
															
												          </a>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="/product_detail/24"><img src="themes/images/cloth/xuongrong/a1.jpg" alt="" /></a></p>
														<a href="/product_detail/24" class="title">Cây Xương Rồng Bông Gòn</a><br/>
														<a href="/product_detail/24" class="category"><p class="price">39.000đ</p>
														</a>
													</div>
												</li>
											</ul>
										</div>
										<div class="item">
											<ul class="thumbnails">
												<li class="span3">
													<div class="product-box">
														<p><a href="/product_detail/18"><img src="themes/images/cloth/caydeban/a2.jpg" alt="" /></a></p>
														<a href="/product_detail/18" class="title">Cây Ngũ Gia Bì Thủy Sinh</a><br/>
														
														<a href="/product_detail/18"><p class="price">125.000đ</p></a>
														
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="/product_detail/14"><img src="themes/images/cloth/caysenda/a2.jpg" alt="" /></a></p>
														<a href="/product_detail/14" class="title">Combo 10 Cây Sen Đá</a><br/>
														
														<a href="/product_detail/14"><p class="price">149.000đ</p></a>
														
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="/product_detail/9"><img src="themes/images/cloth/caydeban/a10.jpg" alt="" /></a></p>
														<a href="/product_detail/9" class="title">Cây Mạ non</a><br/>
														
														<a href="/product_detail/9"><p class="price">99.000đ</p></a>
														
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="/product_detail/12"><img src="themes/images/cloth/xuongrong/a2.jpg" alt="" /></a></p>
														<a href="/product_detail/12" class="title">Xương Rồng Gymno</a><br/>
													
														<a href="/product_detail/12"><p class="price">100.000đ</p></a>
														
													</div>
												</li>																																	
											</ul>
										</div>

										<!-- -->
											<div class="item">
											<ul class="thumbnails">
												<li class="span3">
													<div class="product-box">
														<p><a href="/product_detail/25"><img src="themes/images/cloth/caydeban/a3.jpg" alt="" /></a></p>
														<a href="/product_detail/25" class="title">Cây Trầu Bà Đế Vương Xanh</a><br/>
													
														<a href="/product_detail/25"><p class="price">129.00đ</p></a>
														
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="/product_detail/21"><img src="themes/images/cloth/caydeban/a4.jpg" alt="" /></a></p>
														<a href="/product_detail/21" class="title">Cây Thủy Tùng</a><br/>
													
														<a href="/product_detail/21"><p class="price">125.000đ</p></a>
													</div>
												</li>
																																	
											</ul>
										</div>
										<!-- -->

									</div>							
								</div>
							</div>						
						</div>
						<br/>
						<div class="row">
							<div class="span12">
								<h4 class="title">
									
									<span class="pull-left"><span class="text"><span class="line"><a href="#"><strong>Các sản phẩm bán chạy nhất</strong></a></span></span>
									</span>
									
									<span class="pull-right">
										<a class="left button" href="#myCarousel-3" data-slide="prev"></a><a class="right button" href="#myCarousel-3" data-slide="next"></a>
									</span>
								</h4>
								<div id="myCarousel-3" class="myCarousel carousel slide">
									<div class="carousel-inner">
										<div class="active item">
											<ul class="thumbnails">												
												<li class="span3">
													<div class="product-box">
														<span class="sale_tag"></span>
														<p><a href="/product_detail/2"><img src="themes/images/cloth/caydeban/a5.jpg" alt="" /></a></p>
														<a href="/product_detail/2" class="title">Cây Bình An</a><br/>
														<a href="/product_detail/2" class="category"><p class="price">149.000đ</p>
														</a>
															
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="/product_detail/31"><img src="themes/images/cloth/caysenda/a3.jpg" alt="" /></a></p>
														<a href="/product_detail/31" class="title">Cây Sen Đá Giọt Sương</a><br/>
														<a href="/product_detail/31" class="category"><p class="price">119.000đ</p>
														</a>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="/product_detail/16"><img src="themes/images/cloth/caythuysinh/a3.jpg" alt="" /></a></p>
														<a href="/product_detail/16" class="title">Cây Trầu Bà</a><br/>
														<a href="/product_detail/16" class="category"><p class="price">127.000đ</p>
														</a>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="/product_detail/6"><img src="themes/images/cloth/xuongrong/a3.jpg" alt="" /></a></p>
														<a href="/product_detail/6" class="title">Xương Rồng Kim Hổ</a><br/>
														<a href="/product_detail/6" class="category"><p class="price">122.000đ</p>
														</a>
													</div>
												</li>
											</ul>
										</div>
										<div class="item">
											<ul class="thumbnails">
												<li class="span3">
													<div class="product-box">
														<p><a href="/product_detail/27"><img src="themes/images/cloth/caydeban/a6.jpg" alt="" /></a></p>
														<a href="/product_detail/27" class="title">Cây Dương Xỉ Cẩm Thạch</a><br/>
													
														<a href="/product_detail/27"><p class="price">125.000đ</p></a>
														
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="/product_detail/10"><img src="themes/images/cloth/caysenda/a4.jpg" height="255px" width="255px" alt="" /></a></p>
														<a href="/product_detail/10" class="title">Sen Đá Chuỗi Ngọc Đứng</a><br/>
														<a href="/product_detail/10"><p class="price">25.000đ</p></a>
														
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="/product_detail/30"><img src="themes/images/cloth/caythuysinh/a4.jpg" alt="" /></a></p>
														<a href="/product_detail/30" class="title">Cây Cung Điện Vàng</a><br/>
													
														<a href="/product_detail/30"><p class="price">99.000đ</p></a>
														
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="/product_detail/20"><img src="themes/images/cloth/xuongrong/a4.jpg" alt="" /></a></p>
														<a href="/product_detail/20" class="title">Xương Rồng Thanh Sơn</a><br/>
												
														<a href="/product_detail/20"><p class="price">55.000đ</p></a>
														
													</div>
												</li>																																	
											</ul>
										</div>

										<!-- -->
											<div class="item">
											<ul class="thumbnails">
												<li class="span3">
													<div class="product-box">
														<p><a href="/product_detail/17"><img src="themes/images/cloth/caysenda/a5.jpg" alt="" /></a></p>
														<a href="/product_detail/17" class="title">Sen Đá Thược Dược</a><br/>
												
														<a href="/product_detail/17"><p class="price">49.000đ</p></a>
														
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="/product_detail/4"><img src="themes/images/cloth/caysenda/a6.jpg" alt="" /></a></p>
														<a href="/product_detail/4" class="title">Sen Đá Hồng Phấn</a><br/>
														
														<a href="/product_detail/4"><p class="price">25.000đ</p></a>
														
													</div>
												</li>
																																	
											</ul>
										</div>
										<!-- -->

									</div>							
								</div>
							</div>						
						</div>
						<br/>
						<div class="row">
							<div class="span12">
								<h4 class="title">
									
									<span class="pull-left"><span class="text"><span class="line"><a href="#"><strong>Các sản phẩm được xem 	nhiều nhất</strong></a></span></span>
									</span>
									
									<span class="pull-right">
										<a class="left button" href="#myCarousel-4" data-slide="prev"></a><a class="right button" href="#myCarousel-4" data-slide="next"></a>
									</span>
								</h4>
								<div id="myCarousel-4" class="myCarousel carousel slide">
									<div class="carousel-inner">
										<div class="active item">
											<ul class="thumbnails">												
												<li class="span3">
													<div class="product-box">
														<span class="sale_tag"></span>
														<p><a href="/product_detail/23"><img src="themes/images/cloth/caydeban/a7.jpg" alt="" /></a></p>
														<a href="/product_detail/23" class="title">Cây Đuôi Công Táo Xanh</a><br/>
														<a href="/product_detail/23" class="category"><p class="price">139.000đ</p>
													</a>
															
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="/product_detail/8"><img src="themes/images/cloth/caysenda/a7.jpg" height="255px" width="255px" alt="" /></a></p>
														<a href="/product_detail/8" class="title">Sen Đá Lá Thơm</a><br/>
														<a href="/product_detail/8" class="category"><p class="price">39.000đ</p>
														</a>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="/product_detail/19"><img src="themes/images/cloth/caythuysinh/a5.jpg" alt="" /></a></p>
														<a href="/product_detail/19" class="title">Xương Rồng Kim Hổ Thủy Sinh</a><br/>
														<a href="/product_detail/19" class="category"><p class="price">110.000đ</p>
														</a>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="/product_detail/22"><img src="themes/images/cloth/xuongrong/a5.jpg" height="255px" width="255px" alt="" /></a></p>
														<a href="/product_detail/22" class="title">Cây Xương Rồng Tai Thỏ</a><br/>
														<a href="/product_detail/22" class="category"><p class="price">47.000đ</p>
														</a>
													</div>
												</li>
											</ul>
										</div>
										<div class="item">
											<ul class="thumbnails">
												<li class="span3">
													<div class="product-box">
														<p><a href="/product_detail/5"><img src="themes/images/cloth/caydeban/a8.jpg" alt="" /></a></p>
														<a href="/product_detail/5" class="title">Cây Hương Thảo</a><br/>
													
														<a href="/product_detail/5"><p class="price">125.000đ</p></a>
														
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="/product_detail/26"><img src="themes/images/cloth/caysenda/a8.jpg" alt="" /></a></p>
														<a href="/product_detail/26" class="title">Sen Đá Cánh Bướm Xanh</a><br/>
														
														<a href="/product_detail/26"><p class="price">29.000đ</p></a>
														
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="/product_detail/29"><img src="themes/images/cloth/caythuysinh/a1.jpg" alt="" /></a></p>
														<a href="/product_detail/29" class="title">Cỏ Đồng Tiền</a><br/>
												
														<a href="/product_detail/29"><p class="price">99.000đ</p></a>
														
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="/product_detail/19"><img src="themes/images/cloth/xuongrong/a6.jpg" alt="" /></a></p>
														<a href="/product_detail/19" class="title">Xương Rồng Kim Hổ Thủy Sinh</a><br/>
													
														<a href="/product_detail/19"><p class="price">110.000đ</p></a>
														
													</div>
												</li>																																	
											</ul>
										</div>

										<!-- -->
											<div class="item">
											<ul class="thumbnails">
												<li class="span3">
													<div class="product-box">
														<p><a href="/product_detail/11"><img src="themes/images/cloth/caysenda/a9.jpg" alt="" /></a></p>
														<a href="/product_detail/11" class="title">Sen Đá Nhím Đen</a><br/>
														
														<a href="/product_detail/11"><p class="price">30.000đ</p></a>
														
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="/product_detail/28"><img src="themes/images/cloth/caydeban/a9.jpg" alt="" /></a></p>
														<a href="/product_detail/28" class="title">Cây Dừa Cảnh Nến</a><br/>
													
														<a href="/product_detail/28"><p class="price">130.000đ</p></a>
														
													</div>
												</li>
																																	
											</ul>
										</div>
										<!-- -->

									</div>							
								</div>
							</div>						
						</div>
						<br/>
						<div class="row">
							<div class="span12">
								<h4 class="title">
									
									<span class="pull-left"><span class="text"><span class="line"><a href="#"><strong>Các sản phẩm khác</strong></a></span></span>
									</span>
									
									<span class="pull-right">
										<a class="left button" href="#myCarousel-5" data-slide="prev"></a><a class="right button" href="#myCarousel-5" data-slide="next"></a>
									</span>
								</h4>
								<div id="myCarousel-5" class="myCarousel carousel slide">
									<div class="carousel-inner">
										<div class="active item">
											<ul class="thumbnails">												
												<li class="span3">
													<div class="product-box">
														<span class="sale_tag"></span>
														<p><a href="/product_detail/7"><img src="themes/images/cloth/caydeban/a1.jpg" alt="" /></a></p>
														<a href="/product_detail/7" class="title">CÂY TRẦU BÀ LÁ LỖ</a><br/>
														<a href="/product_detail/7" class="category"><p class="price">139.000đ</p>
															
														</a>
															
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="/product_detail/15"><img src="themes/images/cloth/caysenda/a1.jpg" alt="" /></a></p>
														<a href="/product_detail/15" class="title">Combo 20 Cây Sen Đá</a><br/>
														<a href="/product_detail/15" class="category"><p class="price">299.000đ</p>
														
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="/product_detail/19"><img src="themes/images/cloth/caythuysinh/a5.jpg" alt="" /></a></p>
														<a href="/product_detail/19" class="title">Xương Rồng Kim Hổ Thủy Sinh</a><br/>
														<a href="/product_detail/19" class="category"><p class="price">110.000đ</p>
														</a>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="/product_detail/12"><img src="themes/images/cloth/xuongrong/a2.jpg" alt="" /></a></p>
														<a href="/product_detail/12" class="title">Xương Rồng Gymno</a><br/>
														<a href="/product_detail/12" class="category"><p class="price">100.000đ</p>
														</a>
													</div>
												</li>
											</ul>
										</div>
										<div class="item">
											<ul class="thumbnails">
												<li class="span3">
													<div class="product-box">
														<p><a href="/product_detail/21"><img src="themes/images/cloth/caydeban/a4.jpg" alt="" /></a></p>
														<a href="/product_detail/21" class="title">Cây Thủy Tùng</a><br/>
														<a href="/product_detail/21">
														<p class="price">125.000đ</p></a>
														
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="/product_detail/14"><img src="themes/images/cloth/caysenda/a2.jpg" alt="" /></a></p>
														<a href="/product_detail/14" class="title">Combo 10 Cây Sen Đá</a><br/>
													
														<a href="/product_detail/14"><p class="price">149.000đ</p></a>
														
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="/product_detail/16"><img src="themes/images/cloth/caythuysinh/a3.jpg" alt="" /></a></p>
														<a href="/product_detail/16" class="title">Cây Trầu Bà</a><br/>
														
														<a href="/product_detail/16"><p class="price">127.000đ</p></a>
														
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="/product_detail/19"><img src="themes/images/cloth/xuongrong/a6.jpg" alt="" /></a></p>
														<a href="TS2" class="title">Xương Rồng Kim Hổ Thủy Sinh</a><br/>
												
														<a href="/product_detail/19"><p class="price">110.000đ</p></a>
														
													</div>
												</li>																																	
											</ul>
										</div>

										<!-- -->
											<div class="item">
											<ul class="thumbnails">
												<li class="span3">
													<div class="product-box">
														<p><a href="/product_detail/26"><img src="themes/images/cloth/caysenda/a8.jpg" alt="" /></a></p>
														<a href="/product_detail/26" class="title">Sen Đá Cánh Bướm Xanh</a><br/>
												
														<a href="/product_detail/26"><p class="price">25.000đ</p></a>
														
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="/product_detail/22"><img src="themes/images/cloth/xuongrong/a5.jpg" height="255px" width="255px" alt="" /></a></p>
														<a href="/product_detail/22" class="title">Cây Xương Rồng Tai Thỏ</a><br/>
														
														<a href="/product_detail/22"><p class="price">47.000đ</p></a>
														
													</div>
												</li>
																																	
											</ul>
										</div>
										<!-- -->

									</div>							
								</div>
							</div>						
						</div>
					</div>		

				</div>	
			</section>
			<%- include("partials/footer"); -%>
